---
layout: default
---
<section>
    <h1>krisztian.txt</h1>
    <p><em>Chop wood, carry water, dump brain.</em></p>
</section>

<section>
    {% if site.posts.size == 0 %}
        <p>Sorry, no posts yet.</p>
    {% else %}
        {% for post in site.posts %}
            <p class="post-row">
                <time datetime="{{ post.date | date_to_xmlschema }}">{% include human-date.html date=post.date %}</time> -
                <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
            </p>
        {% endfor %}
    {% endif %}

</section>

<footer>
    Made with ❤ in 2026 · <a href="{{ '/feed.xml' | relative_url }}">rss</a>
</footer>
