*,
*::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    line-height: 1.4;
    -webkit-font-smoothing: antialiased;
    
    font-size: 16px;
    font-family: ui-monospace, 
             Menlo, Monaco, 
             "Cascadia Mono", "Segoe UI Mono", 
             "Roboto Mono", 
             "Oxygen Mono", 
             "Ubuntu Monospace", 
             "Source Code Pro",
             "Fira Mono", 
             "Droid Sans Mono", 
             "Courier New", monospace;
}

@media (prefers-color-scheme: dark) {

}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
    margin: 1rem 0 .5rem 0;
}

#root, #__next {
    isolation: isolate;
}

wrapper {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main {
    max-width: 576px;
    margin: 1.5rem 1rem;
}

hr {
    margin: 1.5rem 0;
}

/*
  CSS Reset part is based on Josh's Custom CSS Reset, Thanks Josh for sharing <3
  https://www.joshwcomeau.com/css/custom-css-reset/
*/